@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This is generic sample .NET MVC App with the connected LiveArt HTML5. Use it as basis for your new .NET app or just as a reference.</p>
<p>For more details, do not hesitate to drop us an email to <a href="mailto:sales@liveartdesigner.com">sales@liveartdesigner.com</a></p>
