@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    LiveArt Designer<br />
    Illinska str, 8<br />
    Kyiv, Ukraine
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:sales@liveartdesigner.com">sales@liveartdesigner.com</a><br />
</address>